GEMINI_API_KEY=AQ.Ab8RN6I62Z7MoOl4TwmoqPt0bj8hy4Xv28_buAADaWVMlDYF_g

GEMINI_MODEL=gemini-3.6-flash
DEBUG=true
GOOGLE_CLIENT_ID=197157772177-3farees7gennli78f7bl2rhuas7dgd6q.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://localhost:8000/api/auth/google/callback
FRONTEND_URL=http://localhost:5173
JWT_SECRET_KEY=ipsakti-super-secret-key-9823hjkwqe8712-random-2026
JWT_ALGORITHM=HS256
